h1 {
    color: brown;
    text-align: center;
    padding: 10px;
}
h3{
    text-align: center;
}
code {
    background-color: #eee;
    padding: 2px;
}


/* Query.HTML */

.queryWrapper{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.timeGraph{
    flex: 1 1 50%;
    /* background-color: pink; */
}

.rawResults{
    flex: 1 1 50%;
    /* background-color: red; */
}

.operations{
    flex: 1 1 auto;
}